#profile-pic
{
    width: 200px;
    border: solid 1px;
}

ul.profile-data
{
    list-style-type: none;
    padding: 20px;
}

ul.profile-data > li
{
    list-style-type: none;
    padding-bottom: 3px;
}